@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

.video-wrapper {
  border: 10px solid rgba(255, 0, 0, .25);
  border-radius: 50px;
  margin: 100px auto;
  width: 75%;
  padding: 20px;
}

p {
  font-family: 'Cinzel Decorative', cursive;
  font-size: 20px;
}

body {
  background: url("img/background3.png");
  background-size: cover;
  background-position: center;
}
